# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env/
.venv/

# Build and packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Output / temporary / logs
output/
logs/
tmp/

# Data (optional)
data/*.csv
data/*.xlsx
data/*.json

# OS files
Thumbs.db
Desktop.ini
.DS_Store
